<h1>Tee Shop Colors</h1>


<section class="container">
    <div class="one">
        <ol>
            <li (click)="showTee('red')"
                class="red color-border color-width center-text bottom-padding">Red</li>

            <li (click)="showTee('orange')"
                class="orange color-border color-width center-text bottom-padding">Orange</li>

            <li (click)="showTee('yellow')"
                class="yellow color-border color-width center-text bottom-padding">Yellow</li>

            <li (click)="showTee('green')"
                class="green color-border color-width center-text bottom-padding">Green</li>

            <li (click)="showTee('blue')"
                class="blue color-border color-width center-text bottom-padding">Blue</li>

            <li (click)="showTee('pink')"
                class="pink color-border color-width center-text bottom-padding">Pink</li>
        </ol>
    </div>
    <div class="two">
        <div style="float: right">
            <!--<a (click)="addToCart()" href="javascript:void(0)">
                <i class="fa fa-plus" ></i>
            </a>-->
            <button class="orange" (click)="addToCart()">Buy It</button>
        </div>
        <br />
        <br />
        <!-- <div class="rectangle center-text" [ngClass]="getColorChoice()">
            <div class=" oval center-text"></div>
        </div> -->
        <div class="square center-text">
            <!-- <div class="square center-text" [ngClass]="getColorChoice()"> -->
            <div class="center-design" [ngClass]="getDesignChoice()"></div>
        </div>
        
    </div>
</section>




