<h1>Select Colors</h1>


<section class="container">
    <div class="one">
        <div class="one-scroll">
        <ol>
            <li (click)="homeData.clearTshirt()"
                class="color-border color-width center-text bottom-padding">Clear All Choices</li>
            <li (click)="clearColor()"
                class="color-border color-width center-text bottom-padding">Clear Color</li>
            <li (click)="showTee('red')"
                class="red color-border color-width center-text bottom-padding">Red</li>

            <li (click)="showTee('orange')"
                class="orange color-border color-width center-text bottom-padding">Orange</li>

            <li (click)="showTee('yellow')"
                class="yellow color-border color-width center-text bottom-padding">Yellow</li>

            <li (click)="showTee('green')"
                class="green color-border color-width center-text bottom-padding">Green</li>

            <li (click)="showTee('blue')"
                class="blue color-border color-width center-text bottom-padding">Blue</li>

            <li (click)="showTee('pink')"
                class="pink color-border color-width center-text bottom-padding">Pink</li>
        </ol>
        </div>
    </div>
    <div class="two">
        <div style="float: right">
            <button class="orange" (click)="homeData.addToCart()">Buy It</button>
        </div>
        <br />
        <br />
        <div *ngIf="homeData.designChoice != 'star' && homeData.designChoice != 'space-invader'">
            <div 
                *ngIf="homeData.base" 
                class = "t-shirt-base" 
                [ngStyle]="{'background-image': 'url(' + homeData.designChoiceURL + '), url(' + homeData.colorChoiceURL + '), url(/assets/images/teeshirts/t-shirt-9611374_1280.jpg)'}">
            </div>
            <div 
                *ngIf="!homeData.base" 
                class = "t-shirt-size" 
                [ngStyle]="{'background-image': 'url(' + homeData.designChoiceURL + '), url(' + homeData.colorChoiceURL + '), url(/assets/images/teeshirts/t-shirt-9611374_1280.jpg)'}">
            </div>
        </div>
       <div *ngIf="homeData.designChoice == 'space-invader'"
            class="t-shirt-large" 
            [ngStyle]="{'background-image': 'url(' + homeData.designChoiceURL + '), url(' + homeData.colorChoiceURL + '), url(/assets/images/teeshirts/t-shirt-9611374_1280.jpg)'}">

        </div>
        <div 
            *ngIf="homeData.designChoice == 'star'" 
            class="cropped-star" 
            [ngStyle]="{'background-image': 'url(' + homeData.designChoiceURL + '), url(' + homeData.colorChoiceURL + '), url(/assets/images/teeshirts/t-shirt-9611374_1280.jpg)'}">
        </div>
      
    </div>
</section>




