<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
      <div class="container aqua">
          <a class="navbar-brand" [routerLink]="['/']">TeeShop</a>
          <a class="nav-link text-dark" [routerLink]="['/color']">Color</a>
          <a class="nav-link text-dark" [routerLink]="['/design' ]">Design</a>
          <a class="nav-link text-dark" [routerLink]="['/size']">Size</a>
              <button class="navbar-toggler"
                      type="button"
                      data-toggle="collapse"
                      data-target=".navbar-collapse"
                      aria-label="Toggle navigation"
                      [attr.aria-expanded]="isExpanded"
                      (click)="toggle()">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
                   [ngClass]="{ show: isExpanded }">
                  <ul class="navbar-nav flex-grow">
                      <li class="nav-item" [routerLinkActive]="['link-active']">
                          <a class="nav-link text-dark" [routerLink]="['/cart']">
                            <i class="fa-solid fa-cart-shopping">
                            </i>
                            <span style="padding-left: .5em;" class="navbar-text">{{homeData.itemCount}}</span>
                          </a>
                      </li>
                  </ul>
              </div>
      </div>
  </nav>
</header>
