body {
}


.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.white {
    background-color: white;
}

.white-with-borders {
    background-color: white;
    border-color: black;
    border-style: solid;
}

.pink {
    background-color: pink;
}

.grey {
    background-color: grey;
}

.color-width {
    width: 33%;
}

.color-border {
    border-color: black;
    border-width: thick;
    border-style: double;
}

.center-text {
    text-align: center;
}

.bottom-padding {
    padding-bottom: 2em;
}

.circle {
    height: 2em;
    width: 6em;
    border-radius: 5%;
    border-style: solid;
    background: white;
}

.oval {
    width: 10em;
    height: 4em;
    background: white;
    border-radius: 10em / 3em;
    margin-left: 34.5%;
    margin-top: 0%;
}

.container {
    width: 100%;
    height: 40em;
    background: white;
    margin: auto;
    padding: 10px;
}

.one {
    width: 30%;
    height: 30em;
    float: left;
}

.two {
    margin-left: 35%;
    height: 30em;
}

.square {
    margin-left: 12%;
    width: 20em;
    height: 20em;
    padding-top: 1em;
}

.rectangle {
    width: 30em;
    height: 7em;
    padding-top: 1em;
}

.pac-man {
    width: 0px;
    height: 0px;
    border-right: 60px solid transparent;
    border-top: 60px solid purple;
    border-left: 60px solid purple;
    border-bottom: 60px solid purple;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}