<h1>Select Designs</h1>

<section class="container">
    <div class="one">
        <div class="one-scroll">
        <ol>
            <li (click)="clearDesign()"
                class="color-border color-width center-text bottom-padding">Clear Design</li>
            <li (click)="showTee('sunshine')"
                class="color-border color-width center-text bottom-padding">Sunshine</li>

            <li (click)="showTee('heartPic')"
                class="color-border color-width center-text bottom-padding">Love</li>

            <li (click)="showTee('diamond')"
                class="color-border color-width center-text bottom-padding">Sparkly</li>

            <li (click)="showTee('lock')"
                class="color-border color-width center-text bottom-padding">Keeper</li>

            <li (click)="showTee('star')"
                class="color-border color-width center-text bottom-padding">Bright</li>

            <li (click)="showTee('space-invader')"
                class="color-border color-width center-text bottom-padding">Space Invader</li>
            
        </ol>
        </div>
    </div>
    <div class="two">
        <div *ngIf="!homeData.buyTShirt.editing" style="float: right;">
            <button class="orange" (click)="homeData.addToCart()">Buy It</button>
        </div>
        <div *ngIf="homeData.buyTShirt.editing" style="float: right;">
            <button class="orange" (click)="homeData.validate()">Update Cart</button>
        </div>
        <br />
        <br />
        
        <div *ngIf="homeData.buyTShirt.design != 'star' && homeData.buyTShirt.design != 'space-invader'">
            <div 
                *ngIf="homeData.buyTShirt.base" 
                class = "t-shirt-base"
                [ngStyle]="{'background-image': 'url(' + homeData.buyTShirt.designURL + '), url(' + homeData.buyTShirt.colorURL + '), url(/assets/images/teeshirts/t-shirt-9611374_1280.jpg)'}">
            </div>
            <div 
                *ngIf="!homeData.buyTShirt.base" 
                class="t-shirt-size" 
                [ngStyle]="{'background-image': 'url(' + homeData.buyTShirt.designURL + '), url(' + homeData.buyTShirt.colorURL + '), url(/assets/images/teeshirts/t-shirt-9611374_1280.jpg)'}">
            </div>
        </div>
        <!-- <div *ngIf="homeData.buyTShirt.design == 'space-invader'"
            class="t-shirt-large" 
            [ngStyle]="{'background-image': 'url(' + homeData.buyTShirt.designURL + '), url(' + homeData.buyTShirt.colorURL + '), url(/assets/images/teeshirts/t-shirt-9611374_1280.jpg)'}">
           
        </div>
        <div
            *ngIf="hhomeData.buyTShirt.design == 'star'" 
            class="cropped-star" 
            [ngStyle]="{'background-image': 'url(' + homeData.buyTShirt.designURL + '), url(' + homeData.buyTShirt.colorURL + '), url(/assets/images/teeshirts/t-shirt-9611374_1280.jpg)'}">
        </div> -->
       
    </div>
</section>