<h1>Tee Shop Designs</h1>

<section class="container">
    <div class="one">
        <ol>
            <li (click)="showTee('pac-man')"
                class="color-border color-width center-text bottom-padding">Pac Man</li>

            <li (click)="showTee('heart')"
                class="color-border color-width center-text bottom-padding">Love</li>

            <li (click)="showTee('cut-diamond')"
                class="color-border color-width center-text bottom-padding">Sparkly</li>

            <li (click)="showTee('lock')"
                class="color-border color-width center-text bottom-padding">Keeper</li>

            <li (click)="showTee('star')"
                class="color-border color-width center-text bottom-padding">Bright</li>

            <li (click)="showTee('space-invader')"
                class="color-border color-width center-text bottom-padding">Space Invader</li>
        </ol>
    </div>
    <div class="two">
        <br />
        <br />
        <div style="float: right">
            <button class="orange" (click)="addToCart()">Buy It</button>
        </div>
        <div class="rectangle center-text" [ngClass]="getColorChoice()">
            <div class=" oval center-text"></div>
        </div>
        <div class="square center-text" [ngClass]="getColorChoice()">
            <div class="center-design" [ngClass]="getDesignChoice()"></div>
        </div>
    </div>
</section>