.container {
    width: 100%;
    height: 40em;
    background: white;
    margin: auto;
    padding: 10px;
}

.one {
    width: 30%;
    height: 30em;
    float: left;
}

.two {
    margin-left: 35%;
    height: 30em;
}
